# If user is not root, then pass the following commands via sudo
if [ $(id -u) -ne 0 ]; then
    alias halt='sudo halt'
    alias reboot='sudo reboot'
    alias shutdown='sudo shutdown'
fi

# Ask nicely
alias please='sudo !!'

# Get out of here
alias .2='cd ../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'

# Readable $PATH
alias path='echo -e ${PATH//:/\\n}'

# Time of day
alias now='date +"%Y-%m-%dT%T"'

# VI(M)
alias v='vim'
alias vi='vim'

# Git
alias g='git'
alias gs='git status -sb'

# Maven
alias mci='mvn clean install'
alias mcist='mvn clean install -DskipTests -Dmvn.test.skip=true'
alias mcc='mvn clean compile'

# Stop pinging at some point
alias ping='ping -c 5'

# Specify a shorter interval than the default 1 second
alias fastping='ping -c100 -i.2'

# Get header from web server
alias header='curl -I'

# Check if the web server supports compression
alias headerc='curl -I --compress'

# Resume wget by default
alias wget='wget -c'

# Generate sha1 digest
alias sha1='openssl sha1'

# Goodbye to 'command not found'
alias cd..='cd ..'

# Make parents verbosely
alias mkdir='mkdir -pv'

# Prefer coreutils `df` if available
command -v gdf >/dev/null 2>&1 || alias gdf='df'
gdf --total >/dev/null 2>&1 && totalFlag='--total' # Gnu `df`
alias df="gdf -ha ${totalFlag}"
unset totalFlag

# Prefer coreutils `ls` if available
command -v gls >/dev/null 2>&1 || alias gls='ls'
if gls --color >/dev/null 2>&1; then # Gnu `ls`
  colorFlag='--color'
else # OS X `ls`
  colorFlag='-G'
fi

alias ls="gls -aFh ${colorFlag}"
alias ll="gls -alFh ${colorFlag}"
alias lsd='gls -l | grep "^d"'
unset colorFlag

# Colorize `grep` output (good for reading log files)
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Colorize `cat` output
# Requires: `sudo pip install Pygments
command -v pygmentize >/dev/null 2>&1 && alias cat='pygmentize -O style=monokai -f console256 -g'

# Colorize diff output
command -v colordiff >/dev/null 2>&1 && alias diff='colordiff'

# Rake
alias brake='bundle exec rake'

# All info from dig
alias dig="dig +nocmd any +multiline +noall +answer"

# Convenience
alias cask='brew cask'
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias localip="ipconfig getifaddr en0"
alias j='jobs -l'
alias pu='pushd .'
alias po='popd'

# Don't change root `/`
command -v gchown >/dev/null 2>&1 && alias chown='gchown --preserve-root'
command -v gchmod >/dev/null 2>&1 && alias chmod='gchmod --preserve-root'
command -v gchgrp >/dev/null 2>&1 && alias chgrp='gchgrp --preserve-root'

case $(uname -s) in
    Darwin) alias killvpn='sudo killall -9 racoon';; # I forget
    Linux)
        # Prefer the command I remember
        alias pbcopy='xsel --clipboard --input'
        alias pbpaste='xsel --clipboard --output'

        # Don't change root `/`
        alias chown='chown --preserve-root'
        alias chmod='chmod --preserve-root'
        alias chgrp='chgrp --preserve-root'
    ;;
    *) ;;
esac

# Replace `top` if `htop` is available
command -v htop >/dev/null 2>&1 && alias top='htop'

# Make movie out of .git/
alias gourceit='gource -a 3 --hide filenames,dirnames --highlight-users --camera-mode overview -1280x720 -o - | ffmpeg -y -r 60 -f image2pipe -vcodec ppm -i - -vcodec libx264 -preset ultrafast -pix_fmt yuv420p -crf 1 -threads 0 -bf 0 gource.mp4'

# Turn current directory into a web server
# python -m SimpleHTTPServer [port]
alias server='python -m SimpleHTTPServer'

# Control Spotify via the command line
# Requires: https://github.com/dronir/SpotifyControl
command -v osascript >/dev/null 2>&1 && alias spotify='osascript ~/scripts/SpotifyControl/SpotifyControl'

# Which colors does the terminal support?
alias colors='for i in $(seq 0 $(tput colors) ) ; do tput setaf $i ; echo -n "█" ; done ; tput setaf 15 ; echo'

# The keyboard tend to freeze up in IntelliJ IDEA on Ubuntu
alias fixkeyboard='ibus-daemon -rd'
