# ~/.aliases

# If user is not root, then pass the following commands via sudo
if [ $(id -u) -ne 0 ]; then
    alias halt='sudo halt'
    alias reboot='sudo reboot'
    alias shutdown='sudo shutdown'
fi

# readable $PATH
alias path='echo -e ${PATH//:/\\n}'

# Time of day
alias now='date +"%Y-%m-%dT%T"'

# VI(M) <3
alias vi='vim'

# Stop pinging at some point
alias ping='ping -c 5'

# Specify a shorter interval than the default 1 second
alias fastping='ping -c100 -i.2'

# Get header from web server
alias header='curl -I'

# Check if the web server supports compression
alias headerc='curl -I --compress'

# Resume wget by default
alias wget='wget -c'

# Generate sha1 digest
alias sha1='openssl sha1'

# Get rid of 'command not found'
alias cd..='cd ..'

# Get outta here
alias .2='cd ../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'

# Make parents, and be verbose
alias mkdir='mkdir -pv'

# Humanize output
alias df='df -h'

# Colorize the grep command output (good for reading log files)
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Colorize the cat command output
# Pre-requisite: sudo pip install Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

# Colorize diff output
if type colordiff > /dev/null 2>&1; then
    alias diff='colordiff'
fi

# Gradle
alias gb='gradle build --daemon'

# Maven
alias mci='mvn -T 1C clean install'
alias mcist='mvn clean install -DskipTests -Dmvn.test.skip=true'
alias mcc='mvn clean compile'

# Rake
alias brake='bundle exec rake'

# Cucumber
alias cuke='cucumber features'

alias j='jobs -l'
alias pu='pushd .'
alias po='popd'

# Git
alias g='git'
alias gs='g s'

# Turn any directory in your system into a web server directory
# python -m SimpleHTTPServer [port]
alias server='python -m SimpleHTTPServer'

# Platform dependent aliases
case $(uname -s) in
    Darwin)
        alias spotify='osascript ~/code/SpotifyControl/SpotifyControl.scpt'

        # Java
        alias java7='export JAVA_HOME=$(/usr/libexec/java_home -v 1.7.0)'
        alias java8='export JAVA_HOME=$(/usr/libexec/java_home -v 1.8.0)'

        # I always forget how to do this.
        alias killvpn='sudo killall -9 racoon'

        # Show me files matching $1
        alias lsg='ls -alGh | grep'

        alias l='ls -GF'
        alias ls='ls -GF'
        alias ll='ls -alGh'
    ;;
    Linux)
        # Show me files matching $1
        alias lsg='ls -alh --color | grep'

        alias l='ls -F --color'
        alias ls='ls -F --color'
        alias ll='ls -alh --color'

        # pbcopy | pbpaste for linux
        alias pbcopy='xsel --clipboard --input'
        alias pbpaste='xsel --clipboard --output'

        # Fix keyboard in intellij on vmware
        alias fixkeyboard='ibus-daemon -rd'

        # Parenting nets
        alias chown='chown --preserve-root'
        alias chmod='chmod --preserve-root'
        alias chgrp='chgrp --preserve-root'
    ;;
    *) ;;
esac

# Visualization
alias gourceit='gource -a 3 --hide filenames,dirnames --highlight-users --camera-mode overview -1280x720 -o - | ffmpeg -y -r 60 -f image2pipe -vcodec ppm -i - -vcodec libx264 -preset ultrafast -pix_fmt yuv420p -crf 1 -threads 0 -bf 0 gource.mp4'

# What colors does my terminal support?
alias colors='for i in $(seq 0 $(tput colors) ) ; do tput setaf $i ; echo -n "█" ; done ; tput setaf 15 ; echo'
