# ~/.aliases

# If user is not root, then pass the following commands via sudo
if [ $(id -u) -ne 0 ]; then
    alias halt='sudo halt'
    alias reboot='sudo reboot'
    alias shutdown='sudo shutdown'
fi

# readable $PATH
alias path='echo -e ${PATH//:/\\n}'

# VI(M) <3
alias vi='vim'

# Stop pinging at some point
alias ping='ping -c 5'

# Get header from web server
alias header='curl -I'

# Check if the web server supports compression
alias headerc='curl -I --compress'

# Continue getting a partially-downloaded file.
alias wget='wget -c'

# Resume wget by default
alias wget='wget -c'

# Get rid of 'command not found'
alias cd..='cd ..'

# Get outta here
alias .2='cd ../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'

# Make parents, and be verbose
alias mkdir='mkdir -pv'

# Humanize output of df
alias df='df -h'

# Colorize the grep command output (good for reading log files)
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# Colorize the cat command output
# Pre-requisite: sudo pip install Pygments
alias c='pygmentize -O style=monokai -f console256 -g'

# Gradle
alias gb='gradle build --daemon'

# Maven
alias mci='mvn clean install'
alias mcist='mvn clean install -DskipTests -Dmvn.test.skip=true'
alias mcc='mvn clean compile'

# Rake
alias brake='bundle exec rake'

# Cucumber
alias cuke='cucumber features'

alias j='jobs -l'
alias pu='pushd .'
alias po='popd'

# Git
alias g='git'
alias gs='g s'

# Platform dependent aliases
case $(uname -s) in
    Darwin)
        alias spotify='osascript ~/code/SpotifyControl/SpotifyControl.scpt'

        # Java
        alias java7='export JAVA_HOME=$(/usr/libexec/java_home -v 1.7.0)'
        alias java8='export JAVA_HOME=$(/usr/libexec/java_home -v 1.8.0)'

        # I always forget how to do this.
        alias killvpn='sudo killall -9 racoon'

        # Show me files matching $1
        alias lsg='ls -alGh | grep'

        alias l='ls -GF'
        alias ls='ls -GF'
        alias ll='ls -alGh'
    ;;
    Linux)
        # Show me files matching $1
        alias lsg='ls -alh --color | grep'

        alias l='ls -F --color'
        alias ls='ls -F --color'
        alias ll='ls -alh --color'
    ;;
    *) ;;
esac
