# ~/.exports

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# set bash editor to vim
export EDITOR=/usr/bin/vim
# Useful when hitting Ctrl+X, Ctrl+E in the shell to write a particularly
# complex command, or when you hit 'fc' (fix command) to open the previous
# command in your editor.

# Set current directory in the header of the shell
# export PROMPT_COMMAND='echo -ne "\033]0;${PWD}\007"'

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# timestamps for bash history. www.debian-administration.org/users/rossen/weblog/1
# saved for later analysis
HISTTIMEFORMAT='%F %T '
export HISTTIMEFORMAT

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# dev config
case $(uname -s) in
    Linux)
        export JAVA_HOME=$(dirname $(dirname $(readlink -e /usr/bin/javac)))
        export JDK_HOME=$(dirname $(dirname $(readlink -e /usr/bin/javac)))
    ;;
    Darwin)
        export JAVA_HOME=$(/usr/libexec/java_home)
        export JDK_HOME=$(/usr/libexec/java_home)
        export GROOVY_HOME=/usr/local/opt/groovy/libexec
    ;;
    *)
        echo 'Not exporting JAVA_HOME, JDK_HOME, GROOVY_HOME.'
    ;;
esac

export GRADLE_OPTS="-Dorg.gradle.daemon=true -Xmx1G"
export MAVEN_OPTS="-Xms384m -XX:MaxPermSize=256m -Xmx1024m"
# get rid of annoying java popup during builds
export JAVA_TOOL_OPTIONS="-Dfile.encoding=UTF-8 -Djava.awt.headless=true"
export PATH=$PATH:~/.npm/bin
