# A good place to start: https://github.com/github/gitignore
# --------------------------------------------------------------------


# OS X
# --------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Linux
# --------------------------------------------------------------------
*~

# Intellij IDEA
# --------------------------------------------------------------------
*.iml
*.ipr
*.iws
.idea/

# Sublime Text 2
# --------------------------------------------------------------------
*.sublime-workspace

# VIM
# --------------------------------------------------------------------

# Swap files
.*.sw?

# Persistent undo files (since 7.3)
*.un~

Session.vim

# User history (sensitive information)
.netrwhist

# Temp files
*~

# Java
.class
.jar
.war
.ear

# Archives
# --------------------------------------------------------------------
# It's better to unpack these files and commit the raw 
# source because git has its own built in compression methods.
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma

#packing-only formats
*.iso
*.tar

#package management formats
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
