[include]
    path = ~/.gitconfig-user

[core]
    editor = vim -c \"set fileencodings=utf-8,latin1,ucs-bom\"
    quotepath = false
    precomposeunicode = false
    excludesfile = ~/.gitignore
    autocrlf = input

[commit]
    template = ~/.gitmessage

[push]
    default = upstream

[merge]
    tool = opendiff
    log = true

[rerere]
    enabled = true

[color]
    ui = always

[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "status"]
    added = green bold
    changed = red bold
    untracked = cyan bold

[alias]
    s = status -sb

    # List files ignored by git
    ls-ignored = ls-files -o -i --exclude-standard

    # Copy a commit with the message "Cherry picked from ...".
    cp = cherry-pick -x

    unstage = reset HEAD
    uncommit  = reset --soft HEAD^

    # Short readable log format with relative time.
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit

    # Short(er)s readable log format without relative time.
    flog = log --graph --topo-order --decorate --oneline --first-parent

    # Count number of commits per participant.
    count = shortlog -sn

    # Add savepoint for later squashing
    save = !git add --all && git commit -m "---SAVEPOINT---"

    # Commit changes in working directory, then undo the commit so as
    # to create a dangling commit with the changes in case you need them
    # later on - use git reflog to find the commit sha if you find you
    # need the changes later on after all
    discard = !git add --all && git commit -qm '---DISCARD SAVEPOINT---' && git reset HEAD~1 --hard

    ls = ls-files
    steps = log --oneline --reverse

    # Print recently used branches in a git repository
    rb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'

[hub]
    protocol = ssh

[credential]
    #helper = osxkeychain
	  helper = cache --timeout=3600
[pull]
	ff = only
[init]
    defaultBranch = main
