# ~/.gitignore
*~

.gitconfig-user

# User history (sensitive information)
.netrwhist

# Thumbnails
._*

# VIM
.vim/viminfo
.vim/swaps/*
.vim/undo
.*.sw?
*.un~
Session.vim

# Sublime Text
*.sublime-*

# OSX
.DS_Store
.AppleDouble
.LSOverride

# iOS
*.nib

# User-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
*.xcodeproj/ !*.xcodeproj/project.pbxproj

# Whitelist defaults needed for some projects
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# Intellij IDEA
out/
*.iml
*.ipr
*.iws
.idea
atlassian-ide-plugin.xml

# Jenv
.java-version

# oh-my-zsh gradle plugin
.gradletasknamecache
