[user]
    name = <name>
    email = <email address>
    signingkey = <key-id>

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[gpg]
    format = ssh

[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers

[github]
    user = <github username>
